
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body { 
    display: flex; 
  flex-direction: column; 
  min-height: 100vh; 
  background-color: #f5f2f2; 
  font-family: "Poppins";
} 

h2 {
  font-size: 20px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer { 
  background-color: #3c7cf3; 
  padding: 15px 25px; 
  color: #fff; 
  display: flex; 
  flex-direction: column;
  justify-content: space-between; 
  align-items: center; 
}

.cabecalho { 
background-color: #3c7cf3;
  display: flex; 
  justify-content: space-between; 
  flex-direction: column;
  align-items: center; 
  padding: 15px 25px; 
} 

section { 
  display: flex; 
  gap: 16px; 
} 

.nome-site h1 {
  font-family: "Abril Fatface";
}

.cartao {
width: 300px;
height: 240px;
perspective: 1000px; /* dá profundidade ao efeito de virar */
}

.cartao-imagem {
  width: 100%;
  height: 140px; /* altura fixa pra imagem não definir o tamanho do card */
  object-fit: cover;
}

.cabecalho-link { 
  color: #fff; 
  text-decoration: none; 
} 

h1 { 
  color: #fff; 
  font-size: 24px; 
  align-self: center;
} 

.cartao-interno { 
 position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d; 
} 

.cartao-frente, .cartao-verso { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  backface-visibility: hidden;
  overflow: hidden; /* evita que a imagem "estoure" o card */
  display: flex;
  flex-direction: column;
  background-color: #fff; /* opcional, pra cobrir o fundo */; 
  align-items: center;
  gap: 12px;
  margin: 12px;
} 

.cartao-verso { 
  transform: rotateY(180deg);
  padding: 16px; /* já que não tem imagem, dá um respiro pro texto */
  justify-content: center;
  align-items: center;
  text-align: center; 
} 

.cartao:hover .cartao-interno { 
  transform: rotateY(180deg); 
} 
