:root {
  --cor-fundo: #f5f2f2;
  --cor-texto: #000;
  --cor-cartao: #fff;
  --cor-texto: #000;
}

body.escuro {
  --cor-fundo: #1a1a1a;
  --cor-texto: #f5f2f2;
  --cor-cartao: #504e4e;
  --cor-texto: #fff;
}



* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body { 
    display: flex; 
  flex-direction: column; 
  min-height: 100vh; 
  background-color: var(--cor-fundo); 
  font-family: "Poppins";
} 

h2 {
  font-size: 20px;
  color: var(--cor-texto)
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer { 
  background-color: #1265ff; 
  padding: 15px 25px; 
  color: #fff; 
  display: flex; 
  flex-direction: column;
  justify-content: space-between; 
  align-items: center; 
}

.cabecalho { 
background-color: #1265ff;
  display: flex; 
  justify-content: space-between; 
  flex-direction: column;
  align-items: center; 
  padding: 15px 25px; 
} 

section { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  justify-items: center;
} 

.nome-site h1 {
  font-family: "Abril Fatface";
}

.cartao {
width: 300px;
height: 240px;
perspective: 1000px; /* dá profundidade ao efeito de virar */
}

.cartao-imagem {
  width: 100%;
  height: 140px; /* altura fixa pra imagem não definir o tamanho do card */
  object-fit: cover;
}

.cabecalho-link { 
  color: #fff; 
  text-decoration: none; 
} 

h1 { 
  color: #fff; 
  font-size: 24px; 
  align-self: center;
} 

.experimentostitle {
  color: #1265ff;
  font-family: "Poppins";
  align-items: center;
}

.cartao-interno { 
 position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d; 
} 

.cartao-frente, .cartao-verso { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  backface-visibility: hidden;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  background-color: var(--cor-cartao); 
  align-items: center;
  gap: 12px;
  color: var(--cor-texto);
  
} 

.texto {
  margin-left: 16px;

}

.cartao-verso { 
  transform: rotateY(180deg);
  padding: 16px; /* já que não tem imagem, dá um respiro pro texto */
  justify-content: center;
  align-items: center;
  text-align: center; 
} 

.cartao:hover .cartao-interno { 
  transform: rotateY(180deg); 
} 

.botaotema {
  background-color: #ffffff;
  font-family: "Poppins"; 
  color: rgb(0, 0, 0);             
  padding: 12px 24px;        
  font-size: 16px;           
  border: none;              
  border-radius: 8px;        
  cursor: pointer;           
  transition: 0.3s;          
}


.botaotema:hover {
  background-color: #000000; 
  color: white;
}